In [64]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter

In [65]:
data = pd.read_csv('data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [66]:
len(data)

1890

# Предобработка датасета

In [67]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [9]:

answer_ls.append(3)
data[data.budget==data.budget.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [10]:
answer_ls.append(2)
data[data.runtime==data.runtime.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,23,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [11]:
data[data.runtime==data.runtime.min()]
answer_ls.append(3)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,174,6.8,2011

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [17]:
answer_ls.append(2)
data.runtime.mean()

109.65343915343915

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [13]:
answer_ls.append(1)
data.runtime.median()

106.5

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [68]:
answer_ls.append(5)
data['profit'] = data.revenue - data.budget
data[data.profit == data.profit.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [20]:
answer_ls.append(2)
data[data.profit == data.profit.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [23]:
answer_ls.append(1)
data[data.profit>0].imdb_id.count()

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [26]:
answer_ls.append(4)
data[data.profit == data[data.release_year==2008].profit.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [27]:
answer_ls.append(5)
data[data.profit == data[(data.release_year>=2012)&(data.release_year<=2014)].profit.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [45]:
answer_ls.append(3)

for item in 'Action Adventure Drama Comedy Triller'.split():
    print(str(item)+' '+str(data[data.genres.str.contains(item)].imdb_id.count()))

Action 583
Adventure 416
Drama 782
Comedy 683
Triller 0

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [ ]:
answer_ls.append(1)

for item in 'Action Adventure Drama Comedy Triller'.split():
    print(str(item)+' '+str(data[data.genres.str.contains(item) & (data.profit>0)].imdb_id.count()))

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [48]:
answer_ls.append(3)
data.director.value_counts()

Steven Soderbergh          13
Ridley Scott               12
Clint Eastwood             12
Shawn Levy                 10
Steven Spielberg           10
                           ..
Paul King                   1
Lenny Abrahamson            1
Philip G. Atwell            1
Juan Carlos Fresnadillo     1
Mark Helfrich               1
Name: director, Length: 958, dtype: int64

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [59]:
answer_ls.append(4)


data[data.profit>0].groupby('director').imdb_id.count().sort_values()

director
Aaron Seltzer|Jason Friedberg      1
Joel Edgerton                      1
Joel Coen|Ethan Coen               1
Ricky Gervais|Matthew Robinson     1
Rob Bowman                         1
                                  ..
Shawn Levy                         9
Clint Eastwood                    10
Steven Soderbergh                 10
Steven Spielberg                  10
Ridley Scott                      12
Name: imdb_id, Length: 774, dtype: int64

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [55]:

answer_ls.append(5)
data.groupby('director').profit.sum().sort_values()

director
Sngmoo Lee               -413912431
James L. Brooks           -96289726
Ron Underwood             -92896027
Peter Hyams               -86956545
David Bowers|Sam Fell     -84540684
                            ...
Michael Bay              2760938960
J.J. Abrams              2839169916
Christopher Nolan        3162548502
David Yates              3379295625
Peter Jackson            5202593685
Name: profit, Length: 958, dtype: int64

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [74]:
answer_ls.append(1)
for actor in 'Emma Watson,Johnny Depp,Michelle Rodriguez,Orlando Bloom,Rupert Grint'.split(','):
    print(actor+' '+str(data[data.cast.str.contains(actor)].profit.sum()))

Emma Watson 6666245597
Johnny Depp 4776417000
Michelle Rodriguez 4608031235
Orlando Bloom 5148578162
Rupert Grint 6408638290

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [78]:

answer_ls.append(3)
for actor in 'Nicolas Cage,Danny Huston,Kirsten Dunst,Jim Sturgess,Sami Gayle'.split(','):
    print(actor+' '+str(data[data.cast.str.contains(actor) & (data.release_year==2012)].profit.sum()))

Nicolas Cage -32893443
Danny Huston -32893443
Kirsten Dunst -68109207
Jim Sturgess -23410657
Sami Gayle -32893443

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [85]:
answer_ls.append(3)
for actor in 'Tom Cruise,Mark Wahlberg,Matt Damon,Angelina Jolie,Adam Sandler'.split(','):
    print(actor+' '+str(data[(data.budget > data.budget.mean())&(data.cast.str.contains(actor))].imdb_id.count()))

Tom Cruise 15
Mark Wahlberg 14
Matt Damon 18
Angelina Jolie 16
Adam Sandler 17

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [91]:
answer_ls.append(2)
genres = data[data.cast.str.contains('Nicolas Cage')].genres
res = {}
for item in genres:
    g = item.split('|')
    for genre in g:
        if genre in res:
            res[genre]+=1
        else:
            res[genre]=1
print(res)

{'Thriller': 15, 'Action': 17, 'Science Fiction': 4, 'Adventure': 7, 'Drama': 12, 'Mystery': 3, 'Crime': 10, 'Animation': 3, 'Family': 3, 'Fantasy': 8, 'Comedy': 6, 'History': 2, 'War': 1, 'Horror': 1, 'Romance': 1}

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [97]:
answer_ls.append(1)
for studia in 'Universal,Paramount Pictures,Columbia Pictures,Warner Bros,Twentieth Century Fox Film Corporation'.split(','):
    print(studia+' '+str(data[data.production_companies.str.contains(studia)].imdb_id.count()))

Universal 185
Paramount Pictures 122
Columbia Pictures 163
Warner Bros 183
Twentieth Century Fox Film Corporation 109

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [100]:
answer_ls.append(1)
for studia in 'Universal Pictures,Paramount Pictures,Columbia Pictures,Warner Bros,Twentieth Century Fox Film Corporation'.split(','):
    print(studia+' '+str(data[data.production_companies.str.contains(studia) &(data.release_year==2015)].imdb_id.count()))

Universal Pictures 11
Paramount Pictures 7
Columbia Pictures 7
Warner Bros 12
Twentieth Century Fox Film Corporation 8

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [102]:
answer_ls.append(1)
for studia in 'Universal Pictures,Paramount Pictures,Columbia Pictures,Warner Bros,Twentieth Century Fox Film Corporation'.split(','):
    print(studia+' '+str(data[data.production_companies.str.contains(studia) &(data.genres.str.contains('Comedy'))].profit.sum()))

Universal Pictures 8952422726
Paramount Pictures 3055625722
Columbia Pictures 7161805266
Warner Bros 4370928916
Twentieth Century Fox Film Corporation 5686960294

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [105]:
answer_ls.append(3)
for studia in 'Universal Pictures,Paramount Pictures,Columbia Pictures,Warner Bros,Twentieth Century Fox Film Corporation'.split(','):
    print(studia+' '+str(data[data.production_companies.str.contains(studia) &(data.release_year==2012)].profit.sum()))

Universal Pictures 1981011579
Paramount Pictures 410726715
Columbia Pictures 2501406608
Warner Bros 1258020056
Twentieth Century Fox Film Corporation 726676825

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [108]:
answer_ls.append(1)
data[data.production_companies.str.contains('Paramount Pictures') & (data.profit == data[data.production_companies.str.contains('Paramount Pictures')].profit.min())]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
926,tt0267626,0.72233,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,146,6.0,2002,-64831034

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [113]:
answer_ls.append(5)
data[data.release_year.isin(['2014','2008','2012','2002','2015'])].groupby('release_year').profit.sum()

release_year
2002     9002361487
2008    11663881990
2012    16077001687
2014    16397812953
2015    18668572378
Name: profit, dtype: int64

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [115]:
answer_ls.append(1)
data[data.production_companies.str.contains('Warner Bros') & data.release_year.isin(['2014','2008','2012','2010','2015'])].groupby('release_year').profit.sum()

release_year
2008    2134595031
2010    1974712985
2012    1258020056
2014    2295464519
2015     870368348
Name: profit, dtype: int64

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [125]:
answer_ls.append(4)
data['release_month']=data.release_date.apply(lambda x: x[:x.find('/')])
data[data.release_month.isin(['1','6','12','9','5'])].groupby('release_month').imdb_id.count()

release_month
1     110
12    191
5     140
6     147
9     227
Name: imdb_id, dtype: int64

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [127]:
answer_ls.append(2)

data[data.release_month.isin(['6','7','8'])].imdb_id.count()

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [130]:
answer_ls.append(5)
data[data.release_month.isin(['12','1','2'])].groupby('director').imdb_id.count().sort_values()

director
Aaron Seltzer|Jason Friedberg    1
McG                              1
Matthew Vaughn                   1
Matthew O'Callaghan              1
Matt Reeves                      1
                                ..
Adam Shankman                    4
Shawn Levy                       4
Steven Soderbergh                6
Clint Eastwood                   6
Peter Jackson                    7
Name: imdb_id, Length: 333, dtype: int64

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [199]:
answer_ls.append(1)

res = {'1':0,'6':0,'12':0,'9':0,'5':0}
for year in data.release_year.unique():
    d = data[data.release_month.isin(['1','6','12','9','5']) & (data.release_year==year)].groupby(['release_month']).profit.sum()
    #display(d)
    index = d[d==max(d)].index[0]
    res[index]+=1
print(res)

{'1': 0, '6': 7, '12': 4, '9': 0, '5': 5}

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [135]:
answer_ls.append(5)
data['title_len'] = data['original_title'].apply(lambda x: len(x))
data.groupby('production_companies').title_len.mean().sort_values()
for studia in 'Universal,Warner Bros,Jim Henson Company,Paramount Pictures,Four By Two Productions'.split(','):
    print(studia, data[data.production_companies.str.contains(studia)].title_len.mean())

Universal 14.762162162162163
Warner Bros 15.251366120218579
Jim Henson Company 59.0
Paramount Pictures 17.0327868852459
Four By Two Productions 83.0

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [165]:
answer_ls.append(5)
data['words'] = data.original_title.apply(lambda x: len(x.split(' ')))
for studia in 'Universal,Warner Bros,Jim Henson Company,Paramount Pictures,Four By Two Productions'.split(','):
    print(studia+' '+ str(data[data.production_companies.str.contains(studia)].words.mean()))

Universal 2.627027027027027
Warner Bros 2.73224043715847
Jim Henson Company 10.0
Paramount Pictures 2.8688524590163933
Four By Two Productions 12.0

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [169]:
answer_ls.append(3)
res = {}
for title in data.original_title:
    for word in title.split(' '):
        res[word.lower()]=1
len(res)

2462

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [154]:
answer_ls.append(1)
data[(data.vote_average >= data.vote_average.quantile(0.99))
     & (data.original_title.isin('Inside Out,Gone Girl,12 Years a Slave,Upside Down,BloodRayne,The Adventures of Rocky & Bullwinkle,The Lord of the Rings: The Return of the King,300,Lucky Number Slevin'.split(',')))]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month,title_len
9,tt2096673,6.326804,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,3935,8.0,2015,678708609,6,10
128,tt2267998,6.438727,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,3720,7.9,2014,308330363,10,9
1082,tt0167260,7.122455,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,5636,7.9,2003,1024888979,12,45
1192,tt2024544,3.625529,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,2241,7.9,2013,167000000,10,16

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [176]:
answer_ls.append(5)
print('1'+':', end='')
print(data[data.cast.str.contains('Johnny Depp') & data.cast.str.contains('Helena Bonham Carter')].imdb_id.count())
print('2'+':', end='')
print(data[data.cast.str.contains('Hugh Jackman') & data.cast.str.contains('Ian McKellen')].imdb_id.count())
print('3'+':', end='')
print(data[data.cast.str.contains('Vin Diesel') & data.cast.str.contains('Paul Walker')].imdb_id.count())
print('4'+':', end='')
print(data[data.cast.str.contains('Adam Sandler') & data.cast.str.contains('Kevin James')].imdb_id.count())
print('5'+':', end='')
print(data[data.cast.str.contains('Daniel Radcliffe') & data.cast.str.contains('Rupert Grint')].imdb_id.count())

1:6
2:5
3:5
4:5
5:8

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [147]:
answer_ls.append(3)
s = (data[data.profit > 0].groupby('director').imdb_id.count() / data[data.profit <=0].groupby('director').imdb_id.count()).sort_values(ascending=False)
s.head(10)

director
Shawn Levy            9.0
Adam Shankman         7.0
M. Night Shyamalan    7.0
Todd Phillips         7.0
Dennis Dugan          6.0
Paul W.S. Anderson    6.0
Robert Rodriguez      6.0
Peter Berg            5.0
Martin Scorsese       5.0
Robert Luketic        5.0
Name: imdb_id, dtype: float64

# Submission

In [136]:
len(answer_ls)

68

In [137]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       5
1    2       1
2    3       1
3    4       1
4    5       1
..  ..     ...
63  64       1
64  65       1
65  66       1
66  67       1
67  68       1

[68 rows x 2 columns]